<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>firstSceneView/flowerD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/flowerD1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/flowerD2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/heartD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,676},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/heartD1.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/heartD2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/shapD.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/shapD1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/shapD2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/slashD.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,162},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/slashD1.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,162},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
			<key>firstSceneView/slashD2.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,226},{159,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,223}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rightFrameAction.png</string>
			<key>realTextureFileName</key>
			<string>rightFrameAction.png</string>
			<key>size</key>
			<string>{997,900}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>997</integer>
			<key>height</key>
			<integer>900</integer>
		</dict>
	</dict>
</plist>