<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SecondSceneView/252-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/252-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/252-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,269},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/252-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,455},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/252-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,833},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/253-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,323},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/253-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,935},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/253-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,331},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/253-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,521},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/253-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,886},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/254-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/254-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,103},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/254-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,393},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/254-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,662},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/254-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,890},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,662},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>
			<key>SecondSceneView/3-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,527},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/311-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/311-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,103},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/311-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,448},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/311-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,718},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/311-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,808},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/312-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/312-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,96},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/312-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,473},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/312-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,722},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/312-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,795},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,510},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/313-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/313-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/313-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,476},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/313-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,627},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/313-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,821},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,653},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/314-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,221},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/314-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/314-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,476},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/314-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,627},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/314-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,864},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,649},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/3-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>SecondSceneView/321-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/321-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/321-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,535},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/321-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,641},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/321-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,865},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,198},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>
			<key>SecondSceneView/322-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/322-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/322-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,538},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/322-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,649},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/322-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,889},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>SecondSceneView/323-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,323},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/323-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,89},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/323-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,538},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/323-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,696},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/323-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,942},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,137},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>SecondSceneView/324-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,425},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/324-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,89},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/324-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,441},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/324-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,721},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/324-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,946},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,774},{55,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,60}</string>
			</dict>
			<key>SecondSceneView/341-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,527},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/341-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,89},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/341-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,441},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/341-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,774},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/341-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,795},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/342-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,629},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/342-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,177},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/342-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,455},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/342-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,778},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/342-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,809},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/343-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,731},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/343-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,184},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/343-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,503},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/343-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,696},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/343-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,817},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/344-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,833},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/344-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,177},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/344-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,503},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/344-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,683},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/344-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,831},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/351-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/351-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,177},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/351-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,517},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/351-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,709},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/351-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,851},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/352-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/352-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,265},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/352-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,529},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/352-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,683},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/352-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,877},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/353-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/353-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,272},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/353-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,572},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/353-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,697},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/353-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,920},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/354-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,307},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/354-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,265},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/354-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,597},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/354-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,705},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/354-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,921},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/3-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,510},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>SecondSceneView/4-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,409},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/411-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,511},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/411-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,265},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/411-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,572},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/411-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,708},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/411-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,945},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,300},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/412-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,613},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/412-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,300},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/412-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,600},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/412-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,752},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/412-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,851},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,600},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/413-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,715},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/413-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,353},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/413-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,565},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/413-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,777},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/413-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,865},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,830},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/414-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,817},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/414-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,360},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/414-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,591},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/414-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,834},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/414-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,873},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,887},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/4-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,111},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>SecondSceneView/421-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,919},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/421-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,378},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/421-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,565},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/421-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,752},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/421-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,907},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,288},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>
			<key>SecondSceneView/422-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/422-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,388},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/422-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,579},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/422-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,739},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/422-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,933},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,69},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>SecondSceneView/423-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/423-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,388},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/423-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,587},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/423-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,765},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/423-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,907},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,203},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>SecondSceneView/424-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/424-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,353},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/424-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,634},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/424-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,739},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/424-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,921},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,808},{55,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,60}</string>
			</dict>
			<key>SecondSceneView/431-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/431-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,353},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/431-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,659},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/431-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,753},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/431-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,963},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/432-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/432-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,441},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/432-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,634},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/432-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,761},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/432-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,963},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>neils_2.png</string>
			<key>realTextureFileName</key>
			<string>neils_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>