<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SecondSceneView/1-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/1-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/1-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,217},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/1-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,891},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/1-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,972},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/1-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>SecondSceneView/121-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/121-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,934},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/121-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,68},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/121-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,957},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/121-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,532},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/1-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,381},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>
			<key>SecondSceneView/122-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,526},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/122-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,511},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/122-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/122-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,541},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/122-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,662},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/1-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,75},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>SecondSceneView/123-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,628},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/123-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,606},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/123-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,138},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/123-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,446},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/123-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,591},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/1-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>SecondSceneView/124-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/124-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,701},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/124-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,63},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/124-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,349},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/124-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,532},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/1-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,199},{55,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,60}</string>
			</dict>
			<key>SecondSceneView/131-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,832},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/131-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,796},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/131-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/131-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,278},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/131-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,460},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/132-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,322},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/132-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,891},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/132-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,585},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/132-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,203},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/132-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,714},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/133-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,221},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/133-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,511},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/133-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,655},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/133-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,607},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/133-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,815},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/134-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/134-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,307},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/134-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,725},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/134-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,673},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/134-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,766},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/141-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/141-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,205},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/141-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,795},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/141-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,739},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/141-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,818},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/142-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,424},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/142-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,402},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/142-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,865},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/142-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,805},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/143-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,526},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/143-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/143-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,935},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/143-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,871},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/143-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,129},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/144-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,628},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/144-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,96},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/144-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,585},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/144-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,937},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/144-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,57},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/151-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,730},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/151-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,606},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/151-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,471},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/151-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,512},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/151-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,547},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/152-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,832},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/152-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,701},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/152-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,655},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/152-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,415},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/152-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,822},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/153-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,316},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/153-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,796},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/153-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,725},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/153-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,344},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/153-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,756},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/154-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/154-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,891},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/154-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,795},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/154-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,269},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/154-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,606},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/1-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,381},{78,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,100}</string>
			</dict>
			<key>SecondSceneView/2-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>SecondSceneView/211-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/211-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,497},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/211-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,865},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/211-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,203},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/211-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,662},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>SecondSceneView/212-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/212-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,300},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/212-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,935},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/212-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,133},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/212-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,476},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,541},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/213-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,418},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/213-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,395},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/213-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,471},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/213-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,63},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/213-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,401},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,269},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>SecondSceneView/214-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,520},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/214-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,191},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/214-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,376},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/214-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/214-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,333},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,111},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>SecondSceneView/2-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,286},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>
			<key>SecondSceneView/2-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,75},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>SecondSceneView/2-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,150},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>SecondSceneView/2-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,972},{48,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,65}</string>
			</dict>
			<key>SecondSceneView/231-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,622},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/231-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/231-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,279},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/231-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,568},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/231-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,261},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/232-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,724},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/232-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,96},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/232-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,208},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/232-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,624},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/232-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,188},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/233-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,826},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/233-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,592},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/233-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,133},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/233-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,690},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/233-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,116},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/234-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,928},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/234-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,687},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/234-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,63},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/234-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,756},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/241-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,307},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/241-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,782},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/241-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/241-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,624},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/242-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/242-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,877},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/242-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,611},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/242-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,690},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/243-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/243-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,490},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/243-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,681},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/243-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,481},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/244-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/244-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,286},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/244-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,751},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/244-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,410},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/251-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,409},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/251-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,191},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/251-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,821},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/251-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,335},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>neils_1.png</string>
			<key>realTextureFileName</key>
			<string>neils_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>