<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SecondSceneView/433-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,637},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/433-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,205},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/433-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,346},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/433-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,739},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/433-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,931},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/434-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,739},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/434-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/434-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,941},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/434-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,805},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/434-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,762},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/451-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,841},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/451-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,96},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/451-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,910},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/451-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,739},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/451-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,653},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/452-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,637},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/452-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,729},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/452-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,910},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/452-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,630},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/452-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,558},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/453-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,533},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/453-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,824},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/453-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/453-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,521},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/453-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,463},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/454-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,423},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/454-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,919},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/454-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,71},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/454-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,426},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/454-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,390},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/4-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,141},{45,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,51}</string>
			</dict>
			<key>SecondSceneView/5-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,244},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/511-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,739},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/511-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,729},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/511-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/511-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,331},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/511-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,315},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,824},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/512-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,841},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/512-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,625},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/512-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,71},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/512-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,258},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/512-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,244},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,708},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/513-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/513-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,919},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/513-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,599},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/513-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/513-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,133},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,67},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/514-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/514-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,518},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/514-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,490},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/514-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,185},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/514-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,1},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,133},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/5-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>SecondSceneView/521-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,635},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/521-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,409},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/521-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,381},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/521-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/521-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,57},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>
			<key>SecondSceneView/522-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,525},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/522-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,300},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/522-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,286},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/522-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,67},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/522-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,821},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,346},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>SecondSceneView/523-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,421},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/523-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,191},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/523-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,191},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/523-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/523-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,712},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,943},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>SecondSceneView/524-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,205},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/524-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/524-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,778},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/524-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,67},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/524-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,617},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,141},{48,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,65}</string>
			</dict>
			<key>SecondSceneView/531-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/531-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,96},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/531-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,848},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/531-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,871},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/531-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,522},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/532-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,103},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/532-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,720},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/532-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,910},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/532-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,805},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/532-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,449},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/533-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,737},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/533-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,815},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/533-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,669},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/533-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,937},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/533-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,374},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/534-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,839},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/534-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,613},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/534-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,560},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/534-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,696},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/534-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,303},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/541-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,627},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/541-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,504},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/541-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,451},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/541-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,587},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/541-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,192},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/542-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,523},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/542-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,395},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/542-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,356},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/542-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,492},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/542-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,116},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/543-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,416},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/543-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,286},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/543-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,261},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/543-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,397},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/543-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,57},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/544-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,307},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>SecondSceneView/544-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,191},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>
			<key>SecondSceneView/544-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,188},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>SecondSceneView/544-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,324},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>SecondSceneView/544-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/5-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,205},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>SecondSceneView/effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{177,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,176}</string>
			</dict>
			<key>SecondSceneView/effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{232,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,241}</string>
			</dict>
			<key>SecondSceneView/L1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{94,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,102}</string>
			</dict>
			<key>SecondSceneView/L2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,943},{73,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,77}</string>
			</dict>
			<key>SecondSceneView/L3.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,871},{54,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,58}</string>
			</dict>
			<key>SecondSceneView/L4.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,251},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>
			<key>SecondSceneView/L5.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,185},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>SecondSceneView/142-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,133},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>SecondSceneView/244-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,880},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/251-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,939},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/242-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,771},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/241-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,676},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/234-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,581},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>SecondSceneView/2-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,433},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>SecondSceneView/243-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,508},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>neils_3.png</string>
			<key>realTextureFileName</key>
			<string>neils_3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>